<div style="font-color:pink;">
<h1>Edit Your Unione</h1>
<%= form_for @group do |f|%>
  <%= f.label :name%><br>
  <%= f.text_field :name%><br>
  <%= f.label :description%><br>
  <%= f.text_field :description%><br>
     <% if @group.avatar.attached? %>
      <img src="<%=(url_for(@group.avatar))%>">
      <%end%>
    <%= f.label "Change/add Group Photo"%>
  <%= f.file_field :avatar %><br>
  <%= f.submit %>
<%end%>
</div>

<%= button_to "Main Menu", welcome_path, method: :get%>
