<h1>All UniOnes</h1>
<% @groups.each do |group| %>
<h2 style="color:black;"><ul> <%= link_to group.name, group_path(group) %> </ul></h2>
<%= button_to "Check Out this UniOne", group_path(group), method: :get%>


    <% if current_user.id == group.owner_id %>
    <%= button_to "Edit Your UniOne", edit_group_path(group), method: :get%> 
    <%= button_to "Delete Your UniOne", group_path(group), method: :delete%> 
    <%end%>


<%end%><br>

<div>
<%= button_to "Log Out", logout_path, method: :delete%>
<%= button_to "Main Menu", welcome_path, method: :get%>
</div>
