<h1>All Uniones</h1>
<% @groups.each do |group| %>
<ul> <%= link_to group.name, group_path(group) %> </ul>
<%= button_to "Join this Unione", group_path(group), method: :get%>
<%= button_to "Delete this Unione", group_path(group), method: :delete%>


<%end%><br>

<div>
<%= button_to "Log Out", logout_path, method: :delete%>
<%= button_to "Main Menu", welcome_path, method: :get%>
</div>
