<div style="color:black;">
<h2>Create Your Unione</h2>
<%= form_for @group do |f|%>
  <%= f.label :name%><br>
  <%= f.text_field :name%><br>
  <%= f.label :description%><br>
  <%= f.text_field :description%><br>
    <%= f.label "Upload Group Photo"%>
  <%= f.file_field :avatar %><br>
  <%= f.submit %>
<%end%>
<%= button_to "Main Menu", welcome_path, method: :get%>
<%= button_to "Log Out", logout_path, method: :delete%>
</div>