<div style="color:pink;">
<h1>Create Your Unione</h1>
<%= form_for @group do |f|%>
  <%= f.label :name%><br>
  <%= f.text_field :name%><br>
  <%= f.label :description%><br>
  <%= f.text_field :description%><br>
  <%= f.submit %>
<%end%>
<%= button_to "Main Menu", welcome_path, method: :get%>
<%= button_to "Log Out", logout_path, method: :delete%>
</div>