<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div style="color:pink;">
  <h2 style="color:pink; font-weight:bold;"><%= @group.name %></h2>
  <p style="color:pink;"><%= @group.description %></p>

<% if @group.avatar.attached? %>
    <img src="<%=(url_for(@group.avatar))%>">
<%end%>


  <%# <%= button_to "Edit Unione", edit_group_path, method: :get%>
  <%# <%= button_to "Delete Unione", group_path, method: :delete%> 
  <%# <%= form_tag groups_path do %>
    <%# <%= text_field_tag :posts %>
    <%# <%= submit_tag("Post") %>


  <div class="FixedHeightContainer">
    <p style="color:white;">Talk to <%= @group.name %> </p>
    <div class="Content" style="font-size:16px;">
      <% @group.posts.each do |post| %>
___________________________________
      <ul><%= post.user.username %>: 
        <%= post.message %></ul>
      <% if post.avatar.attached? %>
      <img src="<%=(url_for(post.avatar))%>">
      <%end%>
    

      <%end%>
___________________________________
    </div>

  </div><br>

  <div>
  <% if current_user.id == @group.owner_id %>
    <%= button_to "Edit Your UniOne", edit_group_path(@group), method: :get%>
  <%end%>
  <%= button_to "Create a Post", new_post_path, method: :get %>
  <%= button_to "View Your Profile", user_path(current_user), method: :get %>
  <%= button_to "Main Menu", welcome_path, method: :get%>
  <%= button_to "Log Out", logout_path, method: :delete%>
  </div>
</div>
