<div style="color:black;">
<h2>POSTS</h2>
<p><%= @post.user.username.upcase%>:</p> 
<% if @post.avatar.attached? %>
    <img src="<%=(url_for(@post.avatar))%>">
<%end%>
    <p>"<%= @post.message %>"</p>
<div style="color:yellow; font-size:14px;" >
    <p>----->
    <%= link_to @post.group.name, group_path(@post.group) %>
    </p>
</div>

<%= button_to "Back to Profile", user_path(@post.user), method: :get %>
<%= button_to "Back to Posts", post_path(@post), method: :get %>
<%= button_to "Main Menu", welcome_path, method: :get%>
<%= button_to "Log Out", logout_path, method: :delete%>
 </div>

 