<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unione</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>

      body {margin: auto; background: black; color: pink; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.8; text-shadow: 0 0px 0; max-width: 500px;}
      code {background-image: white;}
      a {border-bottom: 5px solid yellow; color: pink; text-decoration: pink;}
      a:hover {border-bottom: 0;}
      img {display: block;
          max-width:500px;
          max-height:180px;
          width: auto;
          height: auto;
          }
      .bordiv {
          border-top-style: solid;
          border-right-style: solid;
          border-bottom-style: solid;
          border-left-style: solid;
          width: 300px;
          height: 100px;
          justify: center;
          margin: 0 auto;
          }
      .bordiv h1 {
        margin:auto;
        line-height:51px;
        vertical-align:middle;
        font-size: 1.5em;
        text-align: center;
        padding-top: 20px;
    }
    .FixedHeightContainer
    {
      float: right;
      height: 400px;
      width:400px; 
      padding:3px; 
      padding-top: 40px;
      padding-bottom: 20px;
        background: pink;
        position: absolute; top: 400px; right: 80px;
    }
    .Content
    {
      height:224px;
        overflow:auto;
        background: black;
    }

    .pink {
      font-color: pink;
    }
</style>
<header>
<div class="bordiv" >
    <h1 style="color:pink; font-weight:bold; text-align:center;"><%= link_to "UniOne", welcome_path %></h1>
</div>
</header>
  </head>
  <body>
  <div>
    <section class="section has-background-black">
      <div class="container has-background-black">
        <p class="title">
        </ul>
          </ul>
       
            <% if @errors && @errors.any?%>
            <% @errors.each do |error| %>
             </ul>
              <li style="color:red;"><%= error%> </li>
               </ul>
              <%end%>
            <%end%>
            <%= yield %> 
      </p>
        <p class="subtitle has-background-black">
        </p>
      </div>
    </section>
     </div>
  </body>
 
</html>

